<div id="cookieModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cookies Notice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This website uses cookies to ensure you get the best experience on our website.</p>
            </div>
            <div class="modal-footer">
                <button id="cancelCookies" type="button" class="btn btn-danger">Cancel</button>
                <button id="acceptCookies" type="button" class="btn btn-primary">Accept Cookies</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#cookieModal').modal('show');

        $('#cancelCookies').click(function () {
            history.back();
        });
    });

    $('#acceptCookies').click(function () {
        var currentDate = new Date();
        currentDate.setTime(currentDate.getTime() + (30 * 60 * 1000));
        var expires = "expires=" + currentDate.toUTCString();
        document.cookie = "cookiesAccepted=true; " + expires;

        window.location.href = "/Catalog/Index";
    });
</script>